<header>
  <nav class="navbar navbar-expand-lg" style="background-color: #fefefe">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/"
        ><img
          class="img-fluid"
          src="./assets/logo.png"
          alt="Foodmine corporation"
          width="100rem"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item" *ngIf="!User.id">
            <a class="nav-link fs-5" routerLink="/login">Login</a>
          </li>
          <li class="nav-item dropdown" *ngIf="isAuth">
            <a
              class="nav-link dropdown-toggle fs-5"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{User.name}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li>
                <a class="dropdown-item" routerLink="/profile-page">Profile</a>
              </li>
              <li><a class="dropdown-item" >Orders</a></li>
              <li><a class="dropdown-item" routerLink="/Login" (click)="logout()">Logout</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cart-page"
              ><i class="bi bi-cart"></i
              ><img src="./assets/shopping-cart.png" alt="" width="28rem" />
              <span
                class="translate-middle badge rounded-pill bg-danger"
                *ngIf="cartQuantity>0"
                >{{cartQuantity}}</span
              ></a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
